<div class="col-md-6 col-md-offset-3">
  <h3>Fix Pic</h3>
  <%= image_tag @pic.image.url, class: 'pic-image' %>
  <%= render 'form' %>
  <%= link_to "Cancel", pic_path, class: "btn btn-link" %>
</div>
